*.pyc

# Angular compiled output
# dist contains all build artifacts necessary to serve the application
dist/
tmp/
out-tsc/

# Angular app dependencies
node_modules/

# Release process working directory
release/tmp-release-ephemeral

# Generated environment files
webconsole/frontend/src/environments

# IDE Files
.idea/
