<div class="ingest-project-select" flex layout="row">
  <div class="ingest-project-select-heading">
    <h3>  Project ID </h3>
    <mat-icon class="ingest-project-info" matTooltip="The Google Cloud Project ID is different from the Project Name and Project Number. The Project ID appears in the Google Cloud Platform Dashboard, under the project info." [matTooltipPosition]="'after'">info</mat-icon>
  </div>
  <p> What's the Google Cloud Project that you wish to use with cloud ingest? </p>
  <form (ngSubmit)="onProjectSelectSubmit()" class="ingest-project-select-form" #projectSelectForm="ngForm">
    <mat-form-field class="ingest-project-select-full-width">
      <input matInput
             [formControl]="gcsProjectIdControl"
             type="text"
             name="projectId"
             id="projectId"
             required
             placeholder="Google Cloud Project ID"
             [matAutocomplete]="auto"
             [(ngModel)]="gcsProjectId">
      <mat-autocomplete #auto="matAutocomplete" class="ingest-project-autocomplete">
        <mat-option *ngFor="let project of filteredGoogleCloudProjects | async" [value]="project.projectId">
          <span> ID: {{ project.projectId }}</span> |
          <span> Name: {{ project.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button [disabled]="gcsProjectIdControl.invalid || gcsProjectIdControl.pristine" mat-raised-button color="primary"
            type="submit"
            class="ingest-project-select-full-width">
      <ng-container *ngIf="gcsProjectId">
        Use project id '{{ gcsProjectId }}'
      </ng-container>
      <ng-container *ngIf="!gcsProjectId">
        Type the project id in the box above
      </ng-container>
    </button>
  </form>
</div>
