.ingest-break-word {
  word-break: break-all;
}

.ingest-tasks-table {
  max-height: 80vh;
}

.ingest-load-more {
  display: flex;
  text-align: center;
  justify-content: center;
}

.ingest-failuremsg-cell {
  max-height: 60px;
  overflow-y: scroll;
}

.ingest-failure-table-row {
  overflow-y: hidden;
}
