<ng-container *ngIf="showTasksLoading; else content">
  <div class="ingest-pageload-spinner">
    <mat-spinner [diameter]="50" [strokeWidth]="3"></mat-spinner>
  </div>
</ng-container>
<ng-template #content>
  <div *ngIf="showError; else mainContent" class="ingest-error-message">
    <h3> There was an error getting the tasks </h3>
    <strong> {{ errorTitle }} </strong>
    <p> {{ errorMessage }} </p>
  </div>
  <ng-template #mainContent>
    <ng-container *ngIf="noTasksToShow; else table">
      No tasks of this type.
    </ng-container>
    <ng-template #table>
      <mat-table [dataSource]="dataSource" class="ingest-tasks-table" #tasksTable>

        <ng-container matColumnDef="taskId">
          <mat-header-cell *matHeaderCellDef> Task Id </mat-header-cell>
          <mat-cell class="ingest-break-word" *matCellDef="let task"> {{ task.TaskId }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="taskType">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let task"> {{ TASK_TYPE_TO_STRING_MAP[task.TaskType] }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="creationTime">
          <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
          <mat-cell *matCellDef="let task"> {{ task.CreationTime / 1000000 | date:'medium' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastModificationTime">
          <mat-header-cell *matHeaderCellDef> Last Modified </mat-header-cell>
          <mat-cell *matCellDef="let task"> {{ task.LastModificationTime / 1000000 | date:'medium' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="failureMessage">
          <mat-header-cell *matHeaderCellDef> Failure Message </mat-header-cell>
          <mat-cell class="ingest-break-word ingest-failuremsg-cell" *matCellDef="let task"> {{ task.FailureMessage }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </ng-template>
  </ng-template>
</ng-template>
<!-- The "LOAD MORE" button at the end of the table. The component automatically places this at the end of the table. -->
<template>
  <div #loadMore class="ingest-load-more">
    <div *ngIf="noMoreTasksToLoad" class="ingest-no-more-tasks">
      <p> No more tasks to load.</p>
    </div>
    <div (click)="loadMoreClick()" *ngIf="!noMoreTasksToLoad" class="ingest-load-more-button">
      <ng-container *ngIf="showMoreTasksLoading; else loadMoreButton">
        <mat-spinner [diameter]="36" [strokeWidth]="3" ></mat-spinner>
      </ng-container>
      <ng-template #loadMoreButton>
        <button mat-button>
          <mat-icon>expand_more</mat-icon>LOAD MORE
        </button>
      </ng-template>
    </div>
  </div>
</template>
