<h2>Job Run Details</h2>

<ng-container *ngIf="showLoadingSpinner; then spinner; else jobContainer"></ng-container>
<ng-template #spinner>
  <div class="ingest-pageload-spinner">
    <mat-spinner [diameter]="50" [strokeWidth]="3"></mat-spinner>
  </div>
</ng-template>

<ng-template #jobContainer>
  <div class="ingest-error-message" *ngIf="showError; else jobDetails">
    <h3> There was an error getting the job run details. </h3>
    <strong class="ingest-error-title"> {{ errorTitle }} </strong>
    <p class="ingest-error-details">{{ errorMessage }}</p>
  </div>

  <ng-template #jobDetails>
    <dl>
      <dt>Job Config Id</dt>
      <dd>{{ job.name }}</dd>
      <dt> Description </dt>
      <dd>{{ job.description }}</dd>
      <dt>Source directory</dt>
      <dd>{{ job.transferSpec.onPremFiler.directoryPath }}</dd>
      <dt>Destination bucket</dt>
      <dd>{{ job.transferSpec.gcsDataSink.bucketName }}</dd>
      <div *ngIf="job.latestOperation">
        <dt>Job Run Id</dt>
        <dd>{{ job.latestOperation.name }}</dd>
        <dt>Creation Time</dt>
        <dd>{{ job.latestOperation.startTime | date:'short' }}</dd>
        <dt>Status</dt>
        <dd>{{ OPERATION_STATUS_TO_STRING_MAP[job.latestOperation.status] }}</dd>
        <dt> Directories found: </dt>
        <dd> {{ job.latestOperation.counters.directoriesFoundFromSource }} </dd>
        <dt> Directories successfully listed: </dt>
        <dd> {{ job.latestOperation.counters.directoriesSuccessfullyListedFromSource }} </dd>
        <dt> Directories failed to list: </dt>
        <dd> {{ job.latestOperation.counters.directoriesFailedToListFromSource }} </dd>
        <dt> Files found: </dt>
        <dd> {{ job.latestOperation.counters.objectsFoundFromSource }} </dd>
        <dt> Files copied to Google Cloud Storage: </dt>
        <dd> {{ job.latestOperation.counters.objectsCopiedToSink }} </dd>
        <dt> Files failed to copy to Google Cloud Storage: </dt>
        <dd> {{ job.latestOperation.counters.objectsFromSourceFailed }} </dd>
      </div>
    </dl>

    <!-- TODO: add the counters data -->

  </ng-template>
</ng-template>

