<!-- TODO(b/65589147): Simplify the app component. -->
<ng-container *ngIf="authServiceInitialized && loggedIn">
  <ng-container *ngIf="isProjectSelected; else selectProject">
    <md-toolbar color="primary" class="mat-elevation-z6 ingest-toolbar">
      <md-icon class="ingest-toolbar-icon">cloud_upload</md-icon>
      <h1> Ingest Web Console - {{userName}}</h1>
    </md-toolbar>
    <md-sidenav-container fullscreen class="ingest-sidenav-container">
      <md-sidenav #sidenav mode="side" opened="true">
        <md-list>
          <a md-list-item routerLink="/jobconfigs"
              queryParamsHandling="merge" id="jobconfigslink"
              i18n="Link to page listing job configs">
            Job Configs
          </a>
          <a md-list-item routerLink="/infrastructure"
              queryParamsHandling="merge" id="infrastructure-link"
              i18n="Link to page displaying the infrastructure status.">
            Infrastructure
          </a>
          <md-list-item>
            <button md-raised-button color="accent" md-list-item (click)="signOut()">
              Signout
            </button>
          </md-list-item>
        </md-list>
      </md-sidenav>
      <div class="ingest-content-container">
        <router-outlet></router-outlet>
      </div>
    </md-sidenav-container>
  </ng-container>
  <ng-template #selectProject>
    <app-project-select></app-project-select>
  </ng-template>
</ng-container>
<div *ngIf="authServiceInitialized && !loggedIn" class="ingest-sign-in" flex layout="row">
  <h1> Welcome to the Ingest Web Console </h1>
  <p> To start, sign into your Google account. </p>
  <button md-raised-button color="primary" md-list-item (click)="signIn()" class="ingest-sign-in-button">
    Sign In
  </button>
</div>
