.ingest-toolbar-icon {
  padding: 0 14px;
}

.ingest-sidenav-container {
  margin-top: 64px;
  z-index: 0;
}

.ingest-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.ingest-sign-in {
  text-align: center;
  margin: 5% 0 0 0;
}

.ingest-sign-in-button {
  width: 20%;
}

.ingest-username-display {
  margin-left: 10px;
}

.ingest-error-message {
  color: red;
}
