<ng-container *ngIf="showUpdateInfrastructureLoading; else infrastructureBody">
  <md-spinner></md-spinner>
</ng-container>
<ng-template #infrastructureBody>

  <div class="ingest-error-message" *ngIf="showUpdateInfrastructureError; else infrastructureInformation">
    <h2> There was an error getting the infrastructure status </h2>
    <strong> {{ updateInfrastructureError }} </strong>
    <p> {{ updateInfrastructureErrorMessage }} </p>
  </div>

  <ng-template #infrastructureInformation>
    <md-card class="ingest-infrastructure-ok" *ngIf="showInfrastructureStatusOk">
      <h2> <md-icon>check</md-icon> Cloud Ingest Infrastructure is running as expected. </h2>
    </md-card>

    <md-card class="ingest-infrastructure-not-found" *ngIf="showInfrastructureNotFound">
      <h2> <md-icon>error</md-icon> Cloud Ingest Infrastructure was not found. Please deploy to use cloud ingest. </h2>
      <!-- TODO(b/65736645): Add a button to deploy the infrastructure. -->
    </md-card>

    <md-card class="ingest-infrastructure-deploying" *ngIf="showInfrastructureDeploying">
      <h2> <md-icon>autorenew</md-icon> Cloud Ingest Infrastructure deployment is in progress... </h2>
    </md-card>

    <md-card class="ingest-infrastructure-deleting" *ngIf="showInfrastructureDeleting">
      <h2> <md-icon>autorenew</md-icon> Cloud Ingest Infrastructure tear down is in progress... </h2>
    </md-card>

    <md-card class="ingest-infrastructure-failed" *ngIf="showInfrastructureFailed">
      <h2> <md-icon>error</md-icon> Something went wrong in the Cloud Ingest Infrastructure.</h2>
      <p> Please tear down and deploy again. </p>
      <!-- TODO(b/65736645): Add a button to tear down the infrastructure. -->
    </md-card>

    <md-card class="ingest-infrastructure-unknown" *ngIf="showInfrastructureUnknown">
      <h2> <md-icon>error</md-icon>  The status of at least one of the items could not be retrieved.</h2>
      <p> Please reload the page to retrieve the status again. If the problem persists, please
        <a href="https://github.com/GoogleCloudPlatform/cloud-ingest/issues">
          create an issue on the project's github page.
        </a>
      </p>
      <!-- TODO(b/65736645): Add a button to tear down the infrastructure. -->
    </md-card>

    <md-card class="ingest-infrastructure-not-determined" *ngIf="showCouldNotDetermineInfrastructure">
      <h2> <md-icon>error</md-icon>  Could not determine the status of the cloud ingest infrastructure.</h2>
      <p> Please
        <a href="https://github.com/GoogleCloudPlatform/cloud-ingest/issues">
          create an issue on the project's github page.
        </a>
      </p>
      <!-- TODO(b/65736645): Add a button to tear down the infrastructure. -->
    </md-card>

    <md-list>
      <app-infrastructure-status-item [itemName]="'Cloud Spanner'" [itemStatus]="infrastructureStatus.spannerStatus"> </app-infrastructure-status-item>
      <app-infrastructure-status-item [itemName]="'Data Control Plane'" [itemStatus]="infrastructureStatus.dcpStatus"> </app-infrastructure-status-item>
      <app-infrastructure-status-item [itemName]="'Cloud Functions'" [itemStatus]="infrastructureStatus.cloudFunctionsStatus"> </app-infrastructure-status-item>
      <md-divider></md-divider>
      <md-list-item> Pub Sub </md-list-item>
      <app-infrastructure-status-item [itemName]="'List topic'" [itemStatus]="infrastructureStatus.pubsubStatus.list"> </app-infrastructure-status-item>
      <app-infrastructure-status-item [itemName]="'List Progress topic'" [itemStatus]="infrastructureStatus.pubsubStatus.listProgress"> </app-infrastructure-status-item>
      <app-infrastructure-status-item [itemName]="'UploadGCS topic'" [itemStatus]="infrastructureStatus.pubsubStatus.uploadGCS"> </app-infrastructure-status-item>
      <app-infrastructure-status-item [itemName]="'UploadGCSProgress topic'" [itemStatus]="infrastructureStatus.pubsubStatus.uploadGCSProgress"> </app-infrastructure-status-item>
      <app-infrastructure-status-item [itemName]="'LoadBigQuery topic'" [itemStatus]="infrastructureStatus.pubsubStatus.loadBigQuery"> </app-infrastructure-status-item>
      <app-infrastructure-status-item [itemName]="'LoadBigQuery topic'" [itemStatus]="infrastructureStatus.pubsubStatus.loadBigQueryProgress"> </app-infrastructure-status-item>
    </md-list>
  </ng-template>
</ng-template>
