<div class="ingest-job-config-heading">
  <h2> Job Configurations </h2>
  <md-icon class="ingest-info-icon" mdTooltip="Job configurations are used to specify details of data transfer jobs. They
  include information such as the on-premise source directory and the Google Cloud
  Storage bucket to use." [mdTooltipPosition]="'after'">info</md-icon>
  <button md-raised-button class="ingest-add-job-config" (click)="openAddJobConfigDialog()">
    <md-icon class="md-24" aria-label="Add a Job Configuration">add_box</md-icon>
    Add a job configuration
  </button>
</div>
<ng-container *ngIf="showLoadingSpinner; then loadingSpinner; else cardContainer"></ng-container>
<ng-template #loadingSpinner>
  <md-spinner></md-spinner>
</ng-template>
<ng-template #cardContainer>
  <div class="ingest-error-message" [hidden]="!displayErrorMessage">
    <h3> There was an error getting your job configurations </h3>
    <strong> {{ errorStatusText }} </strong>
    <p> {{ errorMessage }} </p>
  </div>
  <div class="ingest-card-container" >
    <md-card class="ingest-job-configs-card" *ngFor="let jobConfig of jobConfigs">
     <md-card-title> {{jobConfig.JobConfigId}} </md-card-title>
     <md-card-content>
     <dl>
      <ng-container *ngFor="let key of getKeys(jobConfig.JobSpec)">
        <dt> <strong> {{key}}: </strong> </dt>
        <dd>{{jobConfig.JobSpec[key]}}</dd>
      </ng-container>
     </dl>
     </md-card-content>
    </md-card>
  </div>
</ng-template>
