<table>
  <tr>
    <th i18n="Header for the column containing job run id strings">
      Run Id
    </th>
    <th i18n="Header for the column containing job config id strings">
      Config Id
    </th>
    <th i18n="Header for the column containing job creation times">
      Creation Time
    </th>
    <th i18n="Header for the column containing job statuses">
      Status
    </th>
  </tr>
  <tr *ngFor="let jobRun of jobRuns">
    <td>{{jobRun.JobRunId}}
    <td>{{jobRun.JobConfigId}}</td>
    <!--
      Convert JobCreationTime from nanoseconds to milliseconds.
      Short format: 'yMdjm' (e.g. 9/3/2010, 12:05 PM for en-US)
    -->
    <td>{{jobRun.JobCreationTime / 1000000 | date:'short'}}</td>
    <td>{{jobRun.Status}}</td>
  </tr>
</table>
