/**
 * Styles for the Job Configurations component.
 */

.ingest-job-config-heading {
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 10px;
}

.ingest-info-icon {
  opacity: 0.5;
  margin: 0 0 0 10px;
}

.ingest-card-container {
  display: flex;
  flex-flow: row wrap;
}

.ingest-job-configs-card {
  min-width: 400px;
  margin: 10px;
}
