.ingest-job-run-heading {
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 10px;
}

#ingest-job-list-user-info {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.ingest-info-icon {
  opacity: 0.5;
  margin: 0 0 0 10px;
}

.ingest-job-runs-table {
  margin: 0 20px 0 0;
}

.ingest-clickable {
  cursor: pointer;
}
