/**
 * Styles for the Bandwidth Control component.
 */

.ingest-bandwidth-control-heading {
  margin-left: 10px;
}

.ingest-bandwidth-control-form {
  margin-left: 20px;
}

.ingest-max-bandwidth-form-field {
  margin-top: 15px;
  max-width: 16em;
}

.ingest-max-bandwidth-progress-spinner {
  display: inline-block;
  margin-left: 10px;
  vertical-align: text-bottom;
}
