<div class="ingest-bandwidth-control-heading">
  <h2>Bandwidth Control</h2>
</div>
<form name="bandwidth-control-form" class="ingest-bandwidth-control-form">
  Current cap:
  <span *ngIf="initialControl.maxEnabled">
    {{initialControl.maxBandwidth}} megabytes/second
  </span>
  <span *ngIf="!initialControl.maxEnabled">{{disabled}}</span>
  <mat-progress-spinner *ngIf="writingValues"
      class="ingest-max-bandwidth-progress-spinner"
      color="primary"
      mode="indeterminate"
      diameter="20"></mat-progress-spinner>
  <br />
  <mat-form-field floatLabel="always" class="ingest-max-bandwidth-form-field">
    <mat-label>Max bandwidth</mat-label>
    <input matInput name="maxBandwidth" type="number"
        placeholder="Enter cap here"
        [(ngModel)]="bandwidthControl.maxBandwidth">
    <span matSuffix>megabytes/second</span>
  </mat-form-field>
  <br />
  <button mat-button (click)="writeValues(true, bandwidthControl.maxBandwidth)"
      color="primary"
      [disabled]="!canSetCap()">
    Set Cap
  </button>
  <button mat-button (click)="writeValues(false, null)"
      [disabled]="!initialControl.maxEnabled || writingValues">
    Disable
  </button>
</form>
