<h3 i18n="Title for job creation dialog">Create a new job</h3>

<div class="ingest-alert" *ngIf="showError">
  There was an error submitting your configuration: {{ errorTitle }}. Open the browser console for details (Ctrl + Shift + J in Google Chrome).
</div>

<form (ngSubmit)="onSubmit()" #jobConfigAddDialogForm="ngForm">
  <mat-form-field class="ingest-full-width">
    <input id="jobConfigId"
           name="jobConfigId"
           matInput
           required
           [(ngModel)]="model.jobConfigId"
           pattern="[0-9A-Za-z _-]*"
           #jobConfigId="ngModel"
           placeholder="Description"
           i18n="Label for Job description input">
  </mat-form-field>
  <span *ngIf="jobConfigId.invalid && (jobConfigId.dirty || jobConfigId.touched)" class="ingest-alert">
    A job description can contain alphanumeric characters, hyphens, underscores and space.
  </span>
  <h4 i18n="Subtitle in a form for the fields of the source information for the source file system"> Source information: </h4>
  <mat-form-field class="ingest-full-width">
      <!-- File system directory pattern matches windows and unix file paths. -->
      <input id="fileSystemDirectory"
             name="fileSystemDirectory"
             matInput
             required
             [(ngModel)]="model.fileSystemDirectory"
             pattern="(^[a-zA-Z]:\\[\\\S|*\S]?.*$)|(^(/[^/ ]*)+/?$)"
             #fileSystemDirectory="ngModel"
             placeholder="Full path at source"
             i18n="Label for the full path at the filesystem.">
  </mat-form-field>
  <span *ngIf="fileSystemDirectory.invalid && (fileSystemDirectory.dirty || fileSystemDirectory.touched)" class="ingest-alert">
    The source path must be a valid absolute unix or windows path.
  </span>
  <h4 i18n="Subtitle in a form for the fields of the destination information for Google Cloud Storage"> Destination information for Google Cloud Storage: </h4>
  <mat-form-field class="ingest-full-width">
      <input id="gcsBucket"
             name="gcsBucket"
             matInput
             required
             [(ngModel)]="model.gcsBucket"
             pattern="(\.|[0-9a-z_-])*"
             #gcsBucket="ngModel"
             placeholder="Google Cloud Storage bucket"
             i18n="Label for Google Cloud Storage bucket">
  </mat-form-field>
  <span *ngIf="gcsBucket.invalid && (gcsBucket.dirty || gcsBucket.touched)" class="ingest-alert">
    A GCS bucket can contain lowercase alphanumeric characters, hyphens, underscores and dots.
  </span>

  <button mat-raised-button class="ingest-job-config-add-submit" type="submit" [disabled]="!jobConfigAddDialogForm.form.valid ||
      submittingForm" i18n="Label for submit button">
    Submit Job
  </button>

</form>
<div *ngIf="submittingForm" i18n="Displayed while a job is being created after submitting the job creation form">
  Creating Job...
</div>
