<h3 i18n="Title for job config creation dialog">Create a new job configuration</h3>

<div class="ingest-alert" *ngIf="showError">
  There was an error submitting your configuration: {{ errorTitle }}. Open the browser console for details (Ctrl + Shift + J in Google Chrome).
</div>

<form (ngSubmit)="onSubmit()" #jobConfigAddDialogForm="ngForm">
  <mat-form-field class="ingest-full-width">
    <input id="jobConfigId"
           name="jobConfigId"
           matInput
           required
           [(ngModel)]="model.jobConfigId"
           pattern="[0-9a-zA-Z_-]*"
           #jobConfigId="ngModel"
           placeholder="Config Id"
           i18n="Label for Job Config Id input">
  </mat-form-field>
  <span *ngIf="jobConfigId.invalid && (jobConfigId.dirty || jobConfigId.touched)" class="ingest-alert">
    A job configuration id can contain lowercase alphanumeric characters, hyphens, and underscores.
  </span>
  <h4 i18n="Subtitle in a form for the fields of the source information for the source file system"> Source information: </h4>
  <mat-form-field class="ingest-full-width">
      <!-- File system directory pattern matches windows and unix file paths. -->
      <input id="fileSystemDirectory"
             name="fileSystemDirectory"
             matInput
             required
             [(ngModel)]="model.fileSystemDirectory"
             pattern="(^[a-zA-Z]:\\[\\\S|*\S]?.*$)|(^(/[^/ ]*)+/?$)"
             #fileSystemDirectory="ngModel"
             placeholder="Full path at source"
             i18n="Label for the full path at the filesystem.">
  </mat-form-field>
  <span *ngIf="fileSystemDirectory.invalid && (fileSystemDirectory.dirty || fileSystemDirectory.touched)" class="ingest-alert">
    The source path must be a valid absolute unix or windows path.
  </span>
  <h4 i18n="Subtitle in a form for the fields of the destination information for Google Cloud Storage"> Destination information for Google Cloud Storage: </h4>
  <mat-form-field class="ingest-full-width">
      <input id="gcsBucket" name="gcsBucket" matInput required [(ngModel)]="model.gcsBucket" #gcsBucket="ngModel" placeholder="Google Cloud Storage bucket" i18n="Label for Google Cloud Storage bucket">
  </mat-form-field>
  <h4 i18n=""> Destination information for BigQuery: </h4>
  <mat-checkbox class="ingest-full-width" id="bigQueryTransferChecked" name="bigQueryTransferChecked" i18n="Label for checkbox to select the transfer rows to BigQuery option" [(ngModel)]="bigQueryTransferChecked">Transfer rows into BigQuery</mat-checkbox>
  <ng-container *ngIf="bigQueryTransferChecked">
    <mat-form-field class="ingest-full-width">
      <input id="bigqueryDataset" name="bigqueryDataset" matInput required [(ngModel)]="model.bigqueryDataset" #bigqueryDataset="ngModel" placeholder="BigQuery dataset" i18n="Label for input of a BigQuery dataset">
    </mat-form-field>
    <mat-form-field class="ingest-full-width">
      <input id="bigqueryTable" name="bigqueryTable" matInput required [(ngModel)]="model.bigqueryTable" #bigqueryTable="ngModel" placeholder="BigQuery table" i18n="Label for input of a BigQuery table">
    </mat-form-field>
  </ng-container>

  <button mat-raised-button class="ingest-job-config-add-submit" type="submit" [disabled]="!jobConfigAddDialogForm.form.valid ||
      submittingForm" i18n="Label for submit button">
    Submit Job Configuration
  </button>

</form>
<div *ngIf="submittingForm" i18n="Displayed while a job configuration is being created after submitting the job configuration form">
  Creating Job Configuration...
</div>
