<div class="ingest-job-config-heading">
  <h2> Job Configurations </h2>
  <md-icon class="ingest-info-icon" mdTooltip="Job configurations are used to specify details of data transfer jobs. They
  include information such as the on-premise source directory and the Google Cloud
  Storage bucket to use." [mdTooltipPosition]="'after'">info</md-icon>
  <button md-raised-button class="ingest-add-job-config" (click)="openAddJobConfigDialog()">
    <md-icon class="md-24" aria-label="Add a Job Configuration">add_box</md-icon>
    Add a job configuration
  </button>
</div>
<ng-container *ngIf="showLoadingSpinner; then loadingSpinner; else cardContainer"></ng-container>
<ng-template #loadingSpinner>
  <md-spinner></md-spinner>
</ng-template>
<ng-template #cardContainer>
  <div class="ingest-error-message" [hidden]="!displayErrorMessage">
    <h3> There was an error getting your job configurations </h3>
    <strong> {{ errorTitle }} </strong>
    <pre> {{ errorMessage }} </pre>
  </div>
  <div *ngIf="jobConfigs?.length === 0">
    <h4> There are no job configurations. Click the 'Add a job configuration' button on the top right corner of the screen.  </h4>
  </div>
  <div class="ingest-card-container" >
    <md-card class="ingest-job-configs-card" *ngFor="let jobConfig of jobConfigs">
     <md-card-title> {{jobConfig.JobConfigId}} </md-card-title>
     <md-card-content>
     <dl>
      <ng-container *ngFor="let key of getKeys(jobConfig.JobSpec)">
        <dt> <strong> {{key}}: </strong> </dt>
        <dd>{{jobConfig.JobSpec[key]}}</dd>
      </ng-container>
     </dl>
     </md-card-content>
     <md-card-actions>
      <!--
        TODO(b/65846311): The id of the first job run is only temporarily 'jobrun'. This
                          should change to retrieve the correct job run id.
       -->
      <button md-button routerLink="/jobconfigs/{{jobConfig.JobConfigId}}/jobrun"
         queryParamsHandling="merge" class="ingest-job-run-link"
         i18n="Link to view the job run corresponding to the job configuration">
            View Job Run
      </button>
     </md-card-actions>
    </md-card>
  </div>
</ng-template>
