<div class="ingest-job-config-heading">
  <h2> Jobs </h2>
  <button mat-raised-button class="ingest-add-job-config ingest-config-button" (click)="openAddJobConfigDialog()">
    <mat-icon class="mat-24" aria-label="Add a Job">add_box</mat-icon>
    Add a job
  </button>
  <button mat-raised-button class="ingest-delete-job-config ingest-config-button" (click)="deleteJobConfigs()" [disabled]="numChecked === 0">
      <mat-icon class="mat-24" >delete</mat-icon>
      Delete selected
  </button>
</div>
<ng-container *ngIf="showLoadingSpinner; then loadingSpinner; else content"></ng-container>
<ng-template #loadingSpinner>
  <div class="ingest-pageload-spinner">
    <mat-spinner [diameter]="50" [strokeWidth]="3"></mat-spinner>
  </div>
</ng-template>
<ng-template #content>
  <!-- Show error message div. If no error, show #mainContent -->
  <div class="ingest-error-message" *ngIf="displayErrorMessage; else mainContent">
    <h3> There was an error getting your jobConfigs </h3>
    <strong> {{ errorTitle }} </strong>
    <pre> {{ errorMessage }} </pre>
  </div>
  <!-- The main content template contains the job configs table, or a message telling the user there are no job configs -->
  <ng-template #mainContent>
    <div *ngIf="jobConfigs.length === 0; else jobsTable">
      <h4> There are no jobs. Click the 'Add a job' button at the top of the screen.  </h4>
    </div>
    <ng-template #jobsTable>
      <mat-table #table [dataSource]="dataSource">

        <!-- Description / job configuration column -->
        <ng-container matColumnDef="JobConfigId">
          <mat-header-cell *matHeaderCellDef> Descrption </mat-header-cell>
          <mat-cell class="ingest-break-word" *matCellDef="let job">
            <mat-checkbox id="{{job.JobConfigId}}" (change)="onCheckboxClick($event)" [(ngModel)]="checkedCheckboxes[job.JobConfigId]">
              <a routerLink="/jobs/{{ job.JobConfigId}}/jobrun"
                  queryParamsHandling="merge">
                  {{ job.JobConfigId }}
              </a>
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Source directory / on premises source directory column -->
        <ng-container matColumnDef="onPremSrcDirectory">
          <mat-header-cell *matHeaderCellDef> Source Directory </mat-header-cell>
          <mat-cell class="ingest-break-word" *matCellDef="let job"> {{ job.JobSpec.onPremSrcDirectory }} </mat-cell>
        </ng-container>

        <!-- Destination GCS bucket directory  -->
        <ng-container matColumnDef="gcsBucket">
          <mat-header-cell *matHeaderCellDef> GCS Bucket </mat-header-cell>
          <mat-cell class="ingest-break-word" *matCellDef="let job"> {{ job.JobSpec.gcsBucket }} </mat-cell>
        </ng-container>

        <!-- The header, display the columns in the displayedColumns array -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </ng-template>
  </ng-template>
</ng-template>
