<div class="ingest-job-config-heading">
  <h2> Jobs </h2>
  <button mat-raised-button class="ingest-add-job-config" (click)="openAddJobConfigDialog()">
    <mat-icon class="mat-24" aria-label="Add a Job">add_box</mat-icon>
    Add a job
  </button>
</div>
<ng-container *ngIf="showLoadingSpinner; then loadingSpinner; else cardContainer"></ng-container>
<ng-template #loadingSpinner>
  <div class="ingest-pageload-spinner">
    <mat-spinner [diameter]="50" [strokeWidth]="3"></mat-spinner>
  </div>
</ng-template>
<ng-template #cardContainer>
  <div class="ingest-error-message" [hidden]="!displayErrorMessage">
    <h3> There was an error getting your jobConfigs? </h3>
    <strong> {{ errorTitle }} </strong>
    <pre> {{ errorMessage }} </pre>
  </div>
  <div *ngIf="jobConfigs?.length === 0">
    <h4> There are no jobs. Click the 'Add a job' button at the top of the screen.  </h4>
  </div>
  <div class="ingest-card-container" >
    <mat-card class="ingest-job-configs-card" *ngFor="let jobConfig of jobConfigs">
     <mat-card-title> {{jobConfig.JobConfigId}} </mat-card-title>
     <mat-card-content>
     <dl>
      <ng-container *ngFor="let key of getKeys(jobConfig.JobSpec)">
        <dt> <strong> {{key}}: </strong> </dt>
        <dd>{{jobConfig.JobSpec[key]}}</dd>
      </ng-container>
     </dl>
     </mat-card-content>
     <mat-card-actions>
      <!--
        TODO(b/65846311): The id of the first job run is only temporarily 'jobrun'. This
                          should change to retrieve the correct job run id.
       -->
      <button mat-button routerLink="/jobs/{{jobConfig.JobConfigId}}/jobrun"
         queryParamsHandling="merge" class="ingest-job-run-link"
         i18n="Link to view the job run corresponding to the job">
            View Job Run
      </button>
     </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
