/**
 * Styles for the Job Configurations component.
 */

.ingest-job-config-heading {
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 10px;
  width: 100%;
}

.ingest-config-button {
  margin: 0 0 0 20px;
}

.ingest-break-word {
  word-break: break-all;
}
