<div class="ingest-task-header">

  <a mat-list-item routerLink="/jobconfigs/{{jobConfigId}}/{{jobRunId}}"
      queryParamsHandling="merge"
      class="ingest-job-tasks-back-link">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span class="ingest-separator"> </span>
  <h2> Tasks </h2>
</div>
<mat-tab-group>
  <mat-tab label="Failures">
    <div *ngIf="showNoFailures" class="ingest-no-failures">
      No failed tasks.
    </div>
    <div *ngFor="let failureType of taskFailureTypes">
      <app-failures-table
      [failureType]="TaskFailureType.Type[failureType]"
      [jobRunId]="jobRunId" [jobConfigId]="jobConfigId"
      [failureTypeName]="FAILURE_TYPE_TO_STRING_MAP[TaskFailureType.Type[failureType]]"
      (onLoadFinished)="onFailureTypeLoadFinished($event)"
      (onNoTasks)="onNoTasksForFailureType($event)">
    </app-failures-table>
    </div>
    <div *ngIf="showFailuresLoading" class="ingest-pageload-spinner">
      <mat-spinner [diameter]="50" [strokeWidth]="3"></mat-spinner>
    </div>
  </mat-tab>
  <mat-tab label="Succeeded">
    <app-tasks-table [status]="TASK_STATUS.SUCCESS" [jobRunId]="jobRunId" [jobConfigId]="jobConfigId"> </app-tasks-table>
  </mat-tab>
  <mat-tab label="In Progress">
    <app-tasks-table [status]="TASK_STATUS.QUEUED" [jobRunId]="jobRunId" [jobConfigId]="jobConfigId"> </app-tasks-table>
  </mat-tab>
  <mat-tab label="Pending">
    <app-tasks-table [status]="TASK_STATUS.UNQUEUED" [jobRunId]="jobRunId" [jobConfigId]="jobConfigId"> </app-tasks-table>
  </mat-tab>
</mat-tab-group>
