<mat-list-item>
  <mat-icon matListIcon *ngIf="itemStatus === ResourceStatus.Type.RUNNING">check_circle</mat-icon>
  <mat-icon matListIcon *ngIf="itemStatus === ResourceStatus.Type.NOT_FOUND">warning</mat-icon>
  <mat-icon matListIcon *ngIf="itemStatus === ResourceStatus.Type.FAILED">error</mat-icon>
  <mat-icon matListIcon *ngIf="itemStatus === ResourceStatus.Type.UNKNOWN">help</mat-icon>
  <mat-spinner matListIcon [diameter]="24" [strokeWidth]="3" *ngIf="itemStatus === ResourceStatus.Type.DEPLOYING"></mat-spinner>
  <mat-spinner matListIcon [diameter]="24" [strokeWidth]="3" [color]="'accent'" *ngIf="itemStatus === ResourceStatus.Type.DELETING"></mat-spinner>
  <strong matLine> {{ itemName }} </strong>
  <p class="item-status" matLine>
    <ng-container [ngSwitch]="itemStatus">
      <ng-container *ngSwitchCase="ResourceStatus.Type.RUNNING">Ok</ng-container>
      <ng-container *ngSwitchCase="ResourceStatus.Type.NOT_FOUND">Not deployed</ng-container>
      <ng-container *ngSwitchCase="ResourceStatus.Type.FAILED">Failed</ng-container>
      <ng-container *ngSwitchCase="ResourceStatus.Type.UNKNOWN">Unknown: Could not retrieve status.</ng-container>
      <ng-container *ngSwitchCase="ResourceStatus.Type.DEPLOYING">Deploying...</ng-container>
      <ng-container *ngSwitchCase="ResourceStatus.Type.DELETING">Deleting...</ng-container>
    </ng-container>
  </p>
</mat-list-item>
