<div [hidden]="!hasTasks">
  <mat-expansion-panel [hidden]="!hasTasks">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ failureTypeName }}
      </mat-panel-title>
      <mat-panel-description>
        <ng-container *ngIf="numFailures >= DEFAULT_BACKEND_PAGESIZE" >
          More than {{ DEFAULT_BACKEND_PAGESIZE }} failures
        </ng-container>
        <ng-container *ngIf="numFailures < DEFAULT_BACKEND_PAGESIZE && numFailures > 1" >
          {{ numFailures }} failures
        </ng-container>
        <ng-container *ngIf="numFailures === 1" >
            1 failure
        </ng-container>
        <!-- If there are no failures, the whole component is hidden. -->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-tasks-table (onLoadFinished)="handleOnLoadFinished($event)" [isFailureTable]="true" [failureType]="failureType" [jobRunId]="jobRunId" [jobConfigId]="jobConfigId"> </app-tasks-table>

  </mat-expansion-panel>
</div>
