.ingest-inline-spinner {
  display: inline-block;
}

.ingest-infrastructure-buttons {
  margin: 10px;
}

.ingest-infrastructure-status-list app-infrastructure-status-item {
  display: inline-block;
}
