<h2>On-Prem Agent Setup Instructions:</h2>

<mat-tab-group>
  <mat-tab label="Linux">
    <ol>
      <li>Download and extract the on-prem agent: <a href="{{ AGENT_RELEASE_PREFIX }}/agent-linux_amd64.tar.gz">Linux (64-bit)</a></li>
      <li>In a shell window navigate to the path where you extracted the agent.</li>
      <li>Run <br /><code>./agent -projectid {{ projectId }}</code>
        <br /><br />
        To specify an agent log directory other than your system's default temp directory, add <code>-log_dir &lt;dir&gt;</code>
      </li>
    </ol>
  </mat-tab>
  <mat-tab label="Windows">
    <ol>
      <li>Download and extract the on-prem agent: <a href="{{ AGENT_RELEASE_PREFIX }}/agent-windows_amd64.zip">Windows (64-bit)</a></li>
      <li>In a shell window navigate to the path where you extracted the agent.</li>
      <li>Run <br /><code>agent.exe -projectid {{ projectId }}</code>
        <br /><br />
        To specify an agent log directory other than your system's default temp directory, add <code>-log_dir &lt;dir&gt;</code>
      </li>
    </ol>
  </mat-tab>
</mat-tab-group>
